
html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

.welcome{
    background-color: #F6F7F9;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6.2rem;
    height: 100svh;
}

.welcome-h2{
    color: #71A1C1;
    text-transform: uppercase;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}   

.welcome img{
    max-width: 90%;
}

.log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.btn-welcome{
    background-color: #354C5B;
    opacity: 1;
    color: #F6F7F9;
    border-radius: 20px;
    width: 60%;
    max-height: 52px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.7s ease-in forwards;
}

.btn-welcome:hover{
    background: linear-gradient(90deg, #354C5B,  #71A1C1);
}

.guest-link{
    color:#71A1C1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-transform: none;
}